*{
    font-family: 'Montserrat', sans-serif;
}
//navbar
.navbar{
    background-color: black;
    .nav-link{
        color: white;
    }
}
//style 1
.red{
    background-color: #c4042c;
    color: white;
}
//style 2
.white{
    background-color: white;
    color: black;
}
.Page {
    padding-top:50px;
    height:100vh;
    h2{
        margin-top: 5vh;
        font-size: 121px;
        font-size: 100px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3{
        font-size: 60px;
        margin-top: 150px;
    }
    //Coockie clicker
    p{
        padding: 100px 0 75px 0;
        font-size: 100px; 
    }
    #cookie{
        &:active{
            transform : scale(1.2);
            //grossit le cookie au clique 
            transition: all 0.3s ease;  
            // dure 300 ms sec et transition ease; 
        }
    }
    button{
        border-radius: 15px;
        border: white 5px solid;
        color: #c4042c;
        background-color: white;
        padding: 10px;
        &:hover{
            color: white;
            background-color: #c4042c;
        }
    }
    //installation
    .instal{
        margin-bottom: 100px;
    }
}

